body {
    padding-top: 5rem;
}
.imageView
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: 250px;
    grid-row-gap:  2px;
}

img
{
    width: 50%;
    height: 70%;
}